doctype html5 
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewsport", content="width=device-width,initial-scale=1")
		title=title
		link(rel="stylesheet", type="text/css", href="/css/styles.css")
	body
		
		h1.container #{title}
		block content


